<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/bootstrap.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
    
    <title>FastCodeNote - {%block title%} {%endblock%}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    FCN
                </a>
                <button class="navbar-toggle" data-target="#navbar-collapse" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>   
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
            {% if not user %}
                <div class="navbar-right mar-right-5 text-center">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Login<span class="caret" style="margin-left: 7px;"></span></a>
                            <ul class="dropdown-menu">
                                <form action="/login" method="post" name="login" class="text-center">
                                    <p>Usuario: <br>{{ form_login.username(size=40) }}</p>
                                    <p>Contraseña: <br>{{ form_login.password(size=40) }}</p>
                                    <p>{{ form_login.remember }} Recordarme</p>
                                    <p><input type="submit" value="Login!" class="btn btn-default"></p>
                                </form>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Signup<span class="caret" style="margin-left: 7px;"></span></a>
                            <ul class="dropdown-menu">
                                <form action="/signup" method="post" name="login" class="text-center">
                                    <p>Usuario: <br>{{ form_signup.username(size=40) }}</p>
                                    <p>Contraseña: <br>{{ form_signup.password(size=40) }}</p>
                                    <p>Confirmar: <br>{{ form_signup.confirm(size=40) }}</p>
                                    <p>Email (Opcional): <br>{{ form_signup.email(size=40) }}</p>
                                    <p>{{ form_signup.accept_tos }} Accepto los <a href="#">terminos del servicio</a></p>
                                    <p><input type="submit" value="Signup!" class="btn btn-default"></p>
                                </form>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="navbar-right mar-right-5">
                    <ul class="nav navbar-nav">
                        <li><a href="/user/{{user['username']}}">{{ user['username'] }}</a></li>
                        <li><a href="/snippets/add">Añadir Snippet</a></li>
                        {% if user.level > 1 %}
                            <li><a href="/groups/create">Añadir Group</a></li>
                        {% endif %}
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            {% endif %}
            </div>
        </div>
    </nav>

    <div class="btn-group btn-group-justified btn-nav">
        <a href="/groups" class="btn btn-primary">Grupos</a>
        <a href="/snippets" class="btn btn-primary">Snippets</a>
        <a href="/snippets/top" class="btn btn-primary">Top Snippets</a>
    </div>


    <!-- Body -->
    {% block content %} {% endblock %}

    <footer>
        <div class="container text-center">
            <hr>
            <ul class="list-inline">
                <li><a href="/info">Mas Informacion</a></li>
            </ul>
        </div>
    </footer>

    <!-- Prettify -->
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/trunk/src/lang-vb.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/trunk/src/lang-css.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/trunk/src/lang-sql.js"></script>
    <!-- JQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Extras -->
    {% block scripts %}
    {% endblock %}
</body>
</html>