{% extends 'base.html' %}
{% block title %}
Snippets
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header ">
        <h1 class="inline-block">Snippets</h1>
        <a href="/snippets/search"><div class="btn btn-default inline-block pull-right mar-top-p26">Buscar Snippets</div></a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Lenguaje</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Creado</th>
            </tr>
        </thead>
        <tbody>
            {% for snippet in snippets %}
            <tr>
                <td>{{ snippet.language }}</td>
                <td><a href="/snippets/{{snippet.key().id()}}">{{ snippet.title | truncate(40) }}</a></td>
                <td>{{ snippet.description | truncate(100, True) }}</td>
                <td>{{ snippet.created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}