{% extends 'base.html' %}

{% block title %}
    {{user['username']}}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>{{user['username']}}</h3>
        </div>
        
        <div class="well well-sm">
            <div><strong>Cantidad de snippets:</strong> {{ snippets | length}}</div>
        </div>

        <div class="snippets">
            <ul class="list-group">
                {% for snippet in snippets %}
                    <li class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <strong><a href="/snippets/{{snippet.key().id()}}">{{snippet.title}}</a></strong> - {{snippet.language}}
                            <span class="pull-right">{{snippet.created | format_date}}</span>
                        </h5>
                        <p class="list-item-group-text">
                            {{snippet.description | truncate(250, True)}}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}